/* CSS for the DisplayBoard component */

.display-board-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.display-board-letter {
    padding: 0.3rem;
    font-size: 1.5rem;
}

@media (max-width: 600px) {
    .display-board-letter {
        font-size: 1rem;
    }
}
